<html lang="ja">
	<head>
		<title>bindid demo auth success</title>
	</head>
	<body>
		<h1> Authentication success </h1>

		<form action="your-app" method="GET">
			<div>
				<label for="your_app">Please move to your app</label><br>
				<input type="submit" value="Move to your app">
			</div>
		</form>

		<h2>Showing some of important information received during auth process. (Just for debugging purpose)</h2>
		<br>
		<b>User token</b> <br>
		<pre>
{{user_token}}
		</pre>
		<br><br>
		<b>Sign key</b> <br>
		<pre>
{{sign_key}}
		</pre>
		<br><br>
		<b>Decoded ID token</b> <br>
		<pre>
{{id_token}}
		</pre>
	</body>
</html>
