<html lang="ja">
	<head>
		<title>bindid demo</title>
		<meta name="xm-bind-id-client_id" content="{{client_id}}">
		<meta name="xm-bind-id-redirect_uri" content="{{redirect_uri}}">
		<script src="https://polyfill.io/v3/polyfill.min.js?features=Promise%2CPromise.prototype.finally%2CTextDecoder%2CTextEncoder%2CObject.entries"></script>
		<script src="https://signin.bindid-sandbox.io/bindid-sdk/transmit-bind-id-sdk.js" defer></script>
	</head>
	<body>
		<button class='xm-bind-id-button'>Login</button>
	</body>
</html>
