<html lang="ja">
	<head>
		<title>bindid demo register new user</title>
		<meta name="xm-bind-id-client_id" content="{{client_id}}"> 

		<script src="https://polyfill.io/v3/polyfill.min.js?features=Promise%2CPromise.prototype.finally%2CTextDecoder%2CTextEncoder%2CObject.entries"></script> 
		<script src="https://signin.bindid-sandbox.io/bindid-sdk/transmit-bind-id-sdk.js"></script>

	</head>
	<body>
		<form action="register_new_user" method="POST">
			<div>
				<label for="alias">What alias would you like to be?</label><br>
				<input type="text" name="alias" id="alias" value="Masa"><br>
				<input type="submit" value="submit">
			</div>
		</form>
	</body>
</html>
